:root{
	--primary-color: #670099;
	--primary-color-hover: #7608ab;
	--bg-gray: #f3f7f7;
	--title-txt: #0e141e;
	--color-sub-text: #738f93;
}

.vh-100{
	height: 100vh !important;
}
.h-100{
	height: 100% !important;
}
.bg-gray{
	background-color: var(--bg-gray);
}


/*------------ Btns ------------ */
.btns{
	background: var(--primary-color);
    color: #fff;
    padding: 10px 25px;
    border: solid 1px var(--primary-color);
    border-radius: 0;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 6px 16px 0 rgb(103 0 153 / 41%);
}
.btns:hover{
	background-color: var(--primary-color-hover);
}

/*--------- list card -----------*/
.list-cart{
	border: solid 1px #dddddd;
	/*border: solid 1px #eaeaec;*/
	padding: 20px 200px 20px 20px;
	margin-bottom: 30px;
	position: relative;
}
.list-cart-body h2{
	font-size: 22px;
    font-weight: 700;
    color: var(--title-txt);
}
.list-cart-body p{
	color: var(--color-sub-text);
}
.list-cart-body p >span{
	color: var(--primary-color);
}




